/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Inter", system-ui, sans-serif;
  padding: 0;
}

body {
  margin: 0;
}


.container {
  width: 100%;
  display: flex;
  height: 100%;
}

.left-panel {
  width: 400px;
  padding: 1rem;
  border-right: 1px solid black;
  height: 100%;
  min-height: 100vh;
  resize: horizontal;
}
.title, .results-title {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.subtitle {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1rem;
}

.right-panel {
  flex-grow: 1;
  width: 60%;
  padding: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

label {
  font-weight: bold;
  color: #333;
}

input {
  height: 1.5rem;
  border: none;
  background: oklch(96.7% 0.003 264.542);
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem;
  /* color: oklch(37.3% 0.034 259.733); */
  border: 0.5px solid #ccc;
  /* border-radius: 4px; */
  /* font-size: 1rem; */
}

input:hover {
  background: oklch(87.2% 0.01 258.338);
}

button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}

.row-item {
  display: flex;
  width: 100%;
}

.row-item > input {
  width: 100%;
}

.passed {
  margin-bottom: 2rem;
  /* background: oklch(84.5% 0.143 164.978); */
  /* padding: 1rem; */
  /* margin-right: 2rem; */
  /* font-size: 1.2rem; */
  /* border: 1px solid black; */
  /* background: oklch(96.2% 0.044 156.743); */
  background: oklch(98.4% 0.003 247.858);

}

.passed.main-result {
  background: oklch(96.2% 0.044 156.743);
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
}

.passed-header {
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  background: oklch(86.9% 0.022 252.894);
  /* background: oklch(69.6% 0.17 162.48); */
  /* color: white; */
}

.passed-header.main-result {
  background: oklch(69.6% 0.17 162.48);
  color: white;
}

.passed-body {
  padding: 0.5rem;
}

.bold {
  font-weight: bold;
}

.failed {
  border: 1px solid gray;
  margin-bottom: 1rem;
  padding: 0.5rem;
  margin-right: 2rem;
  background: #ddd;
  color: #555;
  opacity: 0.5;
}

.passed-details {
  font-size: 0.8em;
  margin-top: 0.5rem;
  opacity: 0.8;
}

ul {
  margin-left: 0;
  padding-left: 0;
}